.card-container {
  width: 500px;
  height: 600px;
  border: none;
  padding: none;
  margin: 10px 10px 10px 10px;
  background-color: blueviolet;
}
.card-deck {
  width: 600px;
  height: 550px;
  background-color: aqua;
  justify-items: center;

  justify-content: center;
  justify-items: center;
}

.full-h {
  padding-top: 20px;
}
