.d-flex {
  background-image: url("../assets/img/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  padding-top: 50px;
}
.card {
  padding-top: 20px;
}
